body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#users {
  width: 60vw;
}

#users td, #users th {
  padding: 10px;
}

#users thead tr {
  background: rgba(0, 0, 0, 0.3);
}

#users tbody tr:nth-child(2n) {
  background: rgba(0, 0, 0, 0.1);
}